---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/features/Navbar.astro";
import Card from "../components/ui/Card.astro";
import RegisterForm from "../components/react/RegisterForm";
---

<Layout title="Register - fe-marketplace">
  <Navbar />
  <main class="mx-auto flex max-w-md flex-col px-4 py-16">
    <h1 class="mb-6 text-center text-2xl font-bold">Daftar Akun</h1>
    <Card class="p-6">
      <RegisterForm client:load />
    </Card>
  </main>
</Layout>
